/* Estilos gerais */
body {
  background-color: #f1f1f1;
  font-family: Arial, sans-serif;
}

.container {
  min-height: 320px;
  width: 100%;
  margin: 40px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(#8CA6DB, #B993D6);
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder {
  color: #999;
}

.remember-me {
  display: flex;
  align-items: center;
  margin-top: -10px;
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 12px;
}

.forgot-password {
  text-align: center;
  color: #ffffff;
  margin-top: 10px;
  text-decoration: none;
  font-size: 12px;
}

.forgot-password:hover {
  text-decoration: underline;
}

.new-account {
  text-align: center;
  color: #ffffff;
  margin-top: 10px;
  text-decoration: none;
  font-size: 12px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

input[type="submit"] {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Estilos específicos para a página de login */
.container.login-container {
  width: 50%;
  max-width: 400px;
  margin-top: 100px;
}

/* Estilos específicos para a página de cadastro */
.container.cadastro-container {
  width: 100%;
  max-width: 400px;
  margin-top: 100px;
}

p {
  text-align: center;
  color: #666;
  font-size: 12px;
  margin-top: 10px;
}

p a {
  text-decoration: none;
  color: #666;
}

p a:hover {
  text-decoration: underline;
}

.sign-in {
  text-align: center;
  color: #ffffff;
  margin-top: 10px;
  text-decoration: none;
  font-size: 12px;
}